.form1{
    margin: auto;
    color: black;
    font-weight:bolder;
    align-items: center;
    padding: 10px;
}
.formletter{
    
    margin: 10px;
    text-align: left;
}
.form-control{
   
    border-width: 1;
    border-color:black ;
    
}